@import "~materialize-css/dist/css/materialize.min.css";


body {
    background-image: url('./images/backgorund/1920x1080_px_Texture_wood-571006 (1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

input.white-input {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

input.white-input + label {
    color: #ffffff !important
}

.marginright {
    margin-right: 10px;
}

.marginleft {
    margin-left: 10px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.row > .col > .card > .card-content {
    height: 380px;
}

/* Loading */

.textLoad {
    font-size: 70px;
    background-clip: text;
    color: transparent;
}


/* checkbox */
[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid #424242;
    border-bottom: 2px solid #424242;
}

/* input */
input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid lightgray;
    box-shadow: 0 1px 0 0 #f57f17;
}

input[type=text]:not(.browser-default):focus.validate + label,
input[type=number]:not(.browser-default):focus.validate + label,
input[type=password]:not(.browser-default):focus.validate + label {
    color: #f57f17 !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #f57f17;
    box-shadow: none;
}

.profile-container .input-field > label {
    transform: translateY(-14px) scale(0.8);
    transform-origin: 0 0;
    color: white !important;
}

.profile-container .col {
    margin-bottom: 20px;
}

.flex_logout {
    display: flex;
    justify-content: space-around;
}

.row .col div.card-action {
    display: flex;
    justify-content: space-between;
    padding: 16px 10px;
}


.mainBlock {
    width: 200px;
    height: 25px;
    box-sizing: content-box;
    border: 1px solid #424242;
}

.insideBlock1 {
    position: absolute;
    z-index: 1;
    height: 25px;
    text-align: center;
    width: 200px;
    color: white;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.insideBlock2 {
    position: absolute;
    height: 25px;
    background-color: #2196F3;
    transition: 1s;

}

.btn {
    width: 100%;
}

.user-view {
    min-height: 144px;
}

.profile__image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url('./images/sunset-scenery-minimal-4k-green.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
    .profile__image {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .profile__image {
        width: 100%;
        height: 250px;
        border-radius: 0;
    }
}

.info-block-container {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    height: 250px;
    overflow-x: scroll;
}

.info-block {
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #6d6d6d;
    margin: 0 20px;
    min-width: 300px;
    border: 1px solid #6d6d6d;
    background: none;
    font-family: "Comic Sans MS";
    color: white;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
}

.no-display {
    display: none;
}


::-webkit-scrollbar {
    width: 24px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #6d6d6d;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #f57f17;
    border-radius: 9em;
}

/*::-webkit-scrollbar-thumb:hover {*/
/*    background-color: #253861;*/
/*}*/

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f57f17;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f57f17;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f57f17;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f57f17;
}